<div class="container">
  <form>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputphone">phone Number</label>
      <input type="text" class="form-control" id="ampleInputphone" placeholder="Enter phone number">
    </div>
    <div class="form-group">
      <label for="exampleInputaddress">address</label>
      <textarea type="text" class="form-control" id="exampleInputaddress" placeholder="Enter address"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
